@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora);

header {
  text-align: left;
  margin: 0 auto;
  background-color: #f6f2eb;
  padding: 5px;
}

.float {
  border: 3px solid #8A2E60;
}

#container1 {
  width: 1280px;
  padding-left: 40px;
}

h1 {
  font-size: 70px;
  margin: 0;
  color: #7f1d21;
  width: 1015px;
  float: left;
  font-family: "Roboto Slab", serif;
}

h2 {
 font-size: 45px;
 margin: 0;
 margin-bottom: .5em;
 color:#c43442;
 font-weight: lighter;
 width: 1015px;
 float: left;
 font-family: "Bitter",serif;
}

h3 {
  color: #8A2E60;
  font-weight: bold;
  font-size: 35px;
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

h4 {
  font-size: 22px;
  margin: 0;
  color: #A00057;
  font-family: "Bitter",serif;
}

h5 {
  font-weight: bold;
  font-size: 22px;
  color: #A00057;
  font-family: "Merriweather",serif;
}

h6 {
  font-size: 17px;
  font-family: "Merriweather",serif;
  color: #A00057;
}


nav {
  margin: 0 auto;
  padding: 5px 0;
  text-align: center;
  border-bottom: 5px solid black;
  border-top: 5px solid black;
  width: 1280px;
}

nav a {
  margin: 0 40px;
  font-size: 22px;
  color: #E29300;
  font-family: "Bitter", serif;
}


#para1 {
  float: left;
  margin-right: 3px;
  box-sizing: border-box;
  padding-top: 20px;
  font-size: 27px;
  color: #5b2d1b;
  font-family: "Lora", serif;
}

.floatleft {
  float: left;
  margin-top: 20px;
  margin-left: 3px;
  border: 2px solid #8A2E60;
}

#para2 {
  float: right;
  box-sizing: border-box;
  padding-top:270px;
  font-size: 18px;
  color: #A00057;
  font-weight: bold;
  margin-right: 3px;
  font-family: "Bitter", serif;
}


#para3 {
  margin: 2px;
  padding: 3px;
  float: left;
  color: #5b2d1b;
  font-size: 20px;
  padding-top: .7em;
  font-family: "Lora", serif;
}

#para4 {
  margin: 2px;
  padding: 3px;
  float: left;
  color: #5b2d1b;
  font-size: 20px;
  font-family: "Lora", serif;
}

#para5 {
  margin: 2px;
  padding: 3px;
  float: left;
  color: #5b2d1b;
  font-size: 20px;
  font-family: "Lora", serif;
}

#box1 {
  box-sizing: border-box;
  width: 500px;
  float: left;
  padding: 5px;
}

#box2 {
  box-sizing: border-box;
  width: 500px;
  float: left;
  margin-left: 150px;
  padding: 5px;
}

#box3 {
  box-sizing: border-box;
  width: 500px;
  float: left;
  padding: 5px;
}

#box4 {
  box-sizing: border-box;
  width: 500px;
  float: left;
  margin-left: 150px;
  padding: 5px;
}

#box5 {
  box-sizing: border-box;
  float: right;
  width: 635px;
}

#box6 {
  box-sizing: border-box;
  float: left;
  width: 500px;
}

ul {
  font-size: 19px;
  color: #5b2d1b;
  font-family: "Lora", serif;
}

.app {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 3px solid #8A2E60;
}

.sand{
  margin-top: 10px;
  margin-bottom: 10px;
  border: 3px solid #8A2E60;
}

.soup{
  margin-top: 10px;
  border: 3px solid #8A2E60;
}

.beans {
  margin-top: 10px;
  border: 3px solid #8A2E60;
}

body {
  margin: 0;
  padding: 0;
  background-color: #dad6d1;
}
